#main-canvas {
    border: 1px solid gray;
    display: block;
    margin: 32px auto 0 auto;
}

.sprite {
    /* we don't want to show these <img>s, they are only for drawing on the canvas*/
    display: none;
}